* {
  box-sizing: border-box;
}

body {
  background-color: #edf5f2;
  --button-space: 16px;
  --button-size: 64px;
  --background-primary: #3a3d45;
  --background-secondary: #d9e7e7;
  --background-button-1: #a0a0a8;
  --background-button-2: #d3522d;
  --background-button-3: #c3657d;
  --background-button-4: #18181a;
  --border-color: #202020;
}

.container {
  width: calc((var(--button-space) * 5) + (var(--button-size) * 4 + 4px));
  margin: auto;
}

.display-box {
  background-color: var(--background-primary);
  padding: 16px 16px 0;
  border: 2px solid var(--border-color);
  border-bottom: none;
}

.display {
  background-color: var(--background-secondary);
  color: #3a3d37;
  font-family: consolas;
  align-items: flex-end;
  text-align: right;
  border: 4px solid #828692;
  padding: 8px;
  line-height: 1;
  border-radius: 8px;
}

.display-top {
  flex: 1;
  font-size: 22px;
  min-height: 27px;
}

.display-bottom {
  flex: 2;
  font-size: 36px;
}

.control-box {
  /* flex: 3; */
  background-color: var(--background-primary);
  display: flex;
  padding: var(--button-space);
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border: 2px solid var(--border-color);
  border-top: none;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--button-space);
}

button {
  box-shadow: none;
  width: var(--button-size);
  height: 56px;
  font-size: 24px;
  color: #fff;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}

button {
  &:is(.number, .float) {
    background-color: var(--background-button-1);
  }
  &.result {
    background-color: var(--background-button-2);
  }
  &:is(.delete, .clear) {
    background-color: var(--background-button-3);
  }
  &:is(.negate, .operator) {
    background-color: var(--background-button-4);
  }
}

button.clicked,
button:active {
  filter: contrast(200%);
}

button.large {
  width: calc((var(--button-size) * 2) + var(--button-space));
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 16px 0;
  font-family: "Roboto", "Segoe UI";
}

p {
  margin: 0;
}
