* {
  box-sizing: border-box;
}

body {
  background-color: #282828;
  --button-space: 16px;
  --button-size: 64px;
}

.container {
  background-color: #0f0;
  width: calc((var(--button-space) * 5) + (var(--button-size) * 4 + 4px));
  margin: auto;
  border: 2px solid;
}

.display-box {
  background-color: #f00;
  padding: 16px 16px 0;
}

.display {
  background-color: #fff;
  align-items: flex-end;
  text-align: right;
  border: 2px solid;
  padding: 8px;
}

.display-top {
  background-color: aquamarine;
  flex: 1;
  font-size: 24px;
  min-height: 27px;
}

.display-bottom {
  background-color: aqua;
  flex: 2;
  font-size: 42px;
  line-height: 1;
}

.control-box {
  /* flex: 3; */
  background-color: #00f;
  display: flex;
  padding: var(--button-space);
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--button-space);
}

button {
  background-color: unset;
  box-shadow: none;
  width: var(--button-size);
  height: 56px;
  font-size: 20px;
  color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}

button.large {
  width: calc((var(--button-size) * 2) + var(--button-space));
}
